@font-face {
    font-family: "NunitoSans";
    src: url(fonts/nunitosans/NunitoSans_7pt-Light.woff2) format("woff2");
    font-weight: 200;
}

@font-face {
    font-family: "NunitoSans";
    src: url(fonts/nunitosans/NunitoSans_7pt-Regular.woff2) format("woff2");
    font-weight: 400;
}

@font-face {
    font-family: "NunitoSans";
    src: url(fonts/nunitosans/NunitoSans_7pt-SemiBold.woff2) format("woff2");
    font-weight: 600;
}

@font-face {
    font-family: "NunitoSans";
    src: url(fonts/nunitosans/NunitoSans_7pt-Bold.woff2) format("woff2");
    font-weight: 700;
}

@font-face {
    font-family: "NunitoSans";
    src: url(fonts/nunitosans/NunitoSans_7pt-ExtraBold.woff2) format("woff2");
    font-weight: 800;
}

@font-face {
    font-family: "NEXTART";
    src: url(fonts/nextart/NEXTART_Bold.woff2) format("woff2");
    font-weight: 700;
}


//~ VAR
$header__logo-height: 72px;
$header__margin-top: 16px;
$start__gap: 24px;

%flexColumnCenter {
    display: flex;
    flex-direction: column;
    align-items: center;
}


//!  GENERAL ELEMENTS

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "NunitoSans";
    letter-spacing: -0.9px;
}

.disabled-scroll {
    overflow: hidden;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.section--color {
    &:nth-child(odd) {
        background-color: #F3F5F4;
    }
}

.container {
    box-sizing: content-box;
    max-width: 1180px;
    margin: 0 auto;
}

.headline--center {
    @extend %flexColumnCenter;
    text-align: center;
}

.button {
    display: inline-block;
    font-family: "NunitoSans";
    font-weight: 200;
    font-size: 16px;
    line-height: 20px;
    padding: 12px 24px;
    border-radius: 4px;
    transition: 
        color 0.2s ease-in-out, 
        background-color 0.2s ease-in-out,
        outline 0.2s ease-in-out;
    cursor: pointer;
    white-space: nowrap;

    &--green {
        background-color: #1a3e3e;
        color: #fdfdfd;
        border: 1px solid #1a3e3e;
    }

    &--green-big {
        background-color: #1a3e3e;
        color: #fdfdfd;
        border: 1px solid #1a3e3e;
        padding: 16px 36px;
    }

    &--green:hover,
    &--green-big:hover {
        background-color: #fdfdfd;
        color: #1a3e3e;
    }
}

.subtitle {
    color: #f2be22;
    font-size: 24px;
    line-height: 20px;
    margin-bottom: 8px;
}

.title {
    font-weight: 800;
    font-size: 32px;
    line-height: 38.4px;
}

.text {
    font-size: 18px;
    font-weight: 200;
    line-height: 150%;
    margin: 40px 0px;
}


//* HEADER

.header {
    &__wrapper {
        display: flex;
        align-items: center;
        padding-top: $header__margin-top;
        justify-content: space-between;
    }
    
    &__logo {
        font-size: 0;
    }

    &__nav {
        margin-inline: auto 49px;
    }

    &__list {
        display: flex;
        gap: $start__gap;
    }
    
    &__item-link {
        font-weight: 200;
        color: #fdfdfd;
        font-size: 18px;
        transition: color 0.1s ease-in-out;
    
        &:hover {
            color: #f2be22;
        }
    }
    
    &__button-menu {
        position: relative;
        display: none;
        z-index: 3;
        width: 28px;
        height: 28px;
        cursor: pointer;
    }
    
    .header__burger-line {
        background-color: #fff;
        position: absolute;
        width: 100%;
        height: 4px;
        border-radius: 3px;
        transition: transform 0.45s ease-in-out, top 0.25s ease-in-out, width 0.35s ease-in-out, opacity 0.3s ease-in;
    }

    .header__burger-line:first-of-type {
        top: 0;
    }

    .header__burger-line:nth-of-type(2) {
        top: 50%;
        transform: translateY(-50%);
    }

    .header__burger-line:last-of-type {
        bottom: 0;
        right: 0;
        width: 50%;
    }

    &__button-menu--active {
        .header__burger-line {
            transition: transform 0.5s ease-in-out, top 0.3s ease-in-out, width 0.35s ease-in-out, opacity 0.1s ease-in;
        }

        .header__burger-line:first-of-type {
            top: 50%;
            transform: rotate(-45deg);
        }
    
        .header__burger-line:nth-of-type(2) {
            opacity: 0;
        }
    
        .header__burger-line:last-of-type {
            top: 50%;
            width: 100%;
            transform: rotate(45deg);
        }
    }
}


//* WELCOME

h1 {
    font-family: "NEXTART";
    font-size: 50px;
    line-height: 150%;
    letter-spacing: 0.6px;
    padding-top: 463px;
    padding-bottom: 41px;
    max-width: 1080px;
    width: 100%;
}

.welcome {
    background-image: url(images/welcome/welcome_background.jpg);
    background-position: center;
    background-size: cover;
    padding-bottom: 82px;
    color: #fdfdfd;

    &__wrapper {
        padding: 0 10px;
    }

    &__form {
        background-color: rgba(255, 255, 255, 0.2);
        backdrop-filter: blur(3px);
        border-radius: 10px;
        padding: 40px 42px;
        display: flex;
        gap: $start__gap;
        flex-wrap: wrap;
    }
}

.form__location, .form__date, .form__members {
    width: 100%;
    flex: 1;
}

.form__location-inner, .form__date-inner, .form__members-inner {
    min-width: 250px;
    width: 100%;
    font-weight: 500;
    display: flex;
    border: 1px solid #fdfdfd;
    border-radius: 8px;
    padding: 14px 16px;
    height: 52px;
}

.form__location-inner::after, .form__members-inner::after {
    content: "";
    background-image: url(images/welcome/arrow.svg);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 50%;
    right: 18px;
    width: 18px;
    height: 9px;
    margin-top: -4px;
    transition: transform 0.2s ease-in-out;
}

.form__location-inner, .form__members-inner {
    cursor: pointer;
    position: relative;
    
    select {
        display: none;
    }

    .choice-list {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: -1px;
        background-color: #fff;
        color: #1a3e3e;
        font-weight: 700;
        letter-spacing: normal;
        border: 1px solid #b7b7b7;
        width: inherit;
        box-sizing: content-box;
        z-index: 2;

        %choice-list__item {
            padding: 14px 16px;
            font-size: 14px;
        }

        &__item {
            @extend %choice-list__item;

            &:hover {
                background-color: #1a3e3e;
                color: #fff;
            }
        }

        &__item-disabled {
            @extend %choice-list__item;
            background-color: darken(#1a3e3e, 5%);
            color: #fff;
        }
    }

    .active {
        display: flex;
    }
}

.active-inner {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.active-inner::after {
    transform: rotate(180deg);
}

.form__date-inner {
    background: none;
    gap: 16px;
    display: flex;
    justify-content: space-evenly;

    input {
        font-family: "NunitoSans";
        color: #fff;
        font-weight: 700;
        background: none;
        border: none;
        cursor: pointer;

        &::-webkit-calendar-picker-indicator {
            background: url(images/welcome/formkit_date.svg);
            background-size: cover;
            background-position: center;
        }
    }
}

.form__label-text {
    font-size: 14px;
    font-weight: 200;
    margin-left: 8px;
    margin-top: 10px;
}

.button--white {
    font-weight: 700;
    width: 213px;
    height: 50px;
    background-color: #fdfdfd;
    color: #1a3e3e;
    border: 1px solid #fdfdfd;
    width: 100%;
    flex: 1;

    &:hover {
        background-color: #1a3e3e;
        color: #fdfdfd;
        border: 1px solid #fdfdfd;
    }
}


//* ABOUT


.about {
    display: flex;

    &__wrapper {
        display: flex;
        justify-content: space-between;
        width: 100%;
        gap: 15px;
        padding: 100px 10px;
    }
    
    &__media {
        font-size: 0;
    }
    
    &__background-photo {
        border-radius: 25px;
    }
    
    &__photo {
        border-radius: 25px;
        margin: -274px 0px 0px 130px;
    }
    
    &__button {
        border-radius: 50%;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: -225px 0px 0px 280px;
        height: 50px;
        width: 50px;
        background-color: rgba(#FDFDFD, 0.6);
        transition: transform 0.2s ease-in-out;
        
        &:hover {
            transform: scale(1.2);
        }
    }
    
    &__button-play {
        margin-left: 3px;
        margin-top: 1px;
    }
    
    &__content {
        margin: 0 auto;
        max-width: 580px;
    }
}


//* OFFER

.offer {
    display: flex;

    &__wrapper {
        display: flex;
        justify-content: space-between;
        padding: 80px 10px 100px;
        gap: 15px;
        width: 100%;
    }
    
    &__content {
        max-width: 580px;
    }
    
    &__point {
        margin: 40px 0px;
        display: flex;
        align-items: center;
    }
    
    &__point-image {
        margin-right: 16px;
    }
    
    &__point-headline {
        font-weight: 700;
        font-size: 18px;
        margin-bottom: 4px;
    }
    
    &__point-text {
        font-size: 14px;
        line-height: 20px;
    }
    
    &__media {
        display: grid;
        grid-template-columns: 250px 250px;
        grid-template-rows: 250px 250px;
        gap: 10px;
        align-content: center;
    }
    
    &__media-photos:nth-child(2),
    &__media-photos:nth-child(3) {
        border-top-left-radius: 50px;
        border-bottom-right-radius: 50px;
    }
    
    &__media-photos:nth-child(1),
    &__media-photos:nth-child(4) {
        border-top-right-radius: 50px;
        border-bottom-left-radius: 50px;
    }
}


//* POPULAR

.popular {
    &__wrapper, &__headlines {
        @extend %flexColumnCenter;
    }
    
    &__wrapper  {
        padding: 80px 10px 100px;
    }

    .popular__card-wrapper {
        max-width: 1180px;
    }

    .popular__card {
        margin: 50px auto;
    }

    .popular__card-inner {
        overflow: hidden;
        border-radius: 32px;
        max-height: 500px;
        max-width: 380px;

        img {
            position: absolute;
            top: 0;
            z-index: -3;
            height: auto;
        }
    }

    &__card-star {
        background-color: rgba(255, 255, 255, 0.5);
        backdrop-filter: blur(4px);
        position: absolute;
        top: 50px;
        right: 0px;
        display: flex;
        padding: 6px 10px;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
    
        img {
            position: relative !important;
            margin-right: 6px;
            width: 19px;
            height: 19px;
        }
    
        p {
            color: #1a3e3e;
            font-weight: 700;
            font-size: 15px;
        }
    }

    &__card-retractable {
        background-color: rgba(255, 255, 255, 0.2);
        backdrop-filter: blur(18px);
        padding: 30px 24px;
        border-top-left-radius: 32px;
        border-top-right-radius: 32px;
        height: 500px;
        margin-top: 400px;
        transition: margin-top 1.5s ease-in-out;
    
        p {
            color: #fdfdfd;
        }
    }

    &__card-upper {
        display: flex;
    }

    &__card-title {
        font-weight: 600;
        font-size: 24px;
        line-height: 120%;
    }

    &__card-subtitle {
        font-size: 14px;
        line-height: 18px;
        font-weight: 200;
    }

    &__card-price {
        display: flex;
        align-items: center;
        margin-left: auto;
        background-color: rgba(255, 255, 255, 0.3);
        padding: 8px 16px;
        border-radius: 4px;

        p {
            font-size: 20px;
            font-weight: 700;
        }
    }

    &__card--hover {
        margin-top: 40px;
        height: 82%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;

        p {
            font-weight: 200;
            line-height: 150%;
            max-height: 87%;
            overflow: hidden;
        }
    }

    &__card-inner:hover {
        .popular__card-retractable {
            margin-top: 0px;
        }
    }
}


//* BLOG

.blog {
    &__wrapper {
        @extend %flexColumnCenter;
        padding: 80px 10px 100px;
    }

    .blog__container-cards {
        margin: 40px auto 50px;
        width: 100%;
    }

    &__cards {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }

    &__card {
        display: flex;
        background-color: #FDFDFD;
        padding: 16px;
        border-radius: 10px;
        gap: 24px;
        width: 100%;
        max-width: 580px;
        box-shadow: 0 0 15px 0 rgba(24,18,30,.12);

        img {
            border-radius: 6px;
            max-width: 230px;
        }
    }

    &__texts {
        padding: 16px 0px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
    }

    &__headline {
        font-size: 24px;
        line-height: 32px;
        color: #18121e;

        &:hover {
            color: #1a3e3e;
            text-decoration: underline;
        }
    }

    &__text {
        font-size: 14px;
        line-height: 20px;
        margin: 24px 0px;
    }

    &__data-read {
        display: flex;
        justify-content: space-between;
        gap: $start__gap / 3;
    }

    &__data {
        color: #f2be22;
        font-weight: 700;
        font-size: 14px;
        line-height: 20px;
    }

    &__read {
        color: #1a3e3e;
        font-weight: 700;
        font-size: 14px;
        white-space: nowrap;

        &:hover {
            text-decoration: underline;
        }
    }
}

//* GALLERY

.gallery {
    &__wrapper {
        @extend %flexColumnCenter;
        padding: 80px 10px 100px;
    }

    &__photos--margin {
        margin: 40px auto 50px;
    }

    &__photos {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
        
        img {
            border-radius: 6px;
        }
    }
}

//* NEWSLETTAR

.newslettar {
    position: relative;
    padding: 0 10px;

    &__wrapper {
        box-sizing: border-box;
        background-color: #fdfdfd;
        box-shadow: 0 0 15px 0 rgba($color: #18121e, $alpha: 0.12);
        border-radius: 6px;
        padding: 40px 100px;
        display: flex;
        gap: 64px;
    }

    &__subtitle {
        font-size: 18px;
    }

    &__title {
        font-size: 26px;
        line-height: 31.2px;
    }

    &__application {
        display: flex;
        flex-direction: column;
        gap: 8px;
        width: 100%;

        form {
            display: flex;
            gap: 16px;

            label {
                width: 100%;
            }

            button {
                width: 100%;
            }
        }
    }

    #email {
        width: 100%;
        height: 44px;
        padding: 12px 16px;
        border-radius: 4px;
        border: none;
        background-color: #F3F5F4;
        font-size: 14px;
        
        &:focus {
            outline: auto;
        }
    }

    &__signature {
        font-size: 14px;
    }

    &__signature-link {
        text-decoration-line: underline;
        color: #18121e;
        font-size: 14px;
        transition: color 0.15s ease-in-out;

        &:hover {
            color: #1a3e3e;
        }
    }
}


//* FOOTER

.footer {
    &__top {
        background-color: #1a3e3e;
        color: #fff;
    }

    &__top-wrapper {
        padding: 180px 20px 80px;
        margin-top: -100px;
        display: flex;
        justify-content: space-between;
        gap: 15px;

        h4 {
            font-size: 20px;
            line-height: 24px;
            margin-bottom: 20px;
        }
    }

    &__about {
        max-width: 480px;
    }

    &__description {
        margin-bottom: 80px;

        p {
            font-size: 14px;
            line-height: 20px;
        }
    }

    &__contacts {
        display: flex;
        gap: 24px;
        margin-bottom: 32px;

        a {
            color: #fff;
            font-size: 14px;
            line-height: 18px;
            font-weight: 600;
            text-decoration: underline;
            transition: color 0.15s ease-in-out;

            &:hover {
                color: #f2be22;
            }
        }
    }

    &__icons-links {
        display: flex;
        gap: 21px;

        svg {
            path {
                transition: fill 0.15s ease-in-out;
            }

            &:hover path {
                fill: #f2be22;
            }
        }
    }

    &__items {
        max-width: 280px;

        ul {
            display: flex;
            flex-direction: column;
            gap: 16px;
        }

        .footer__item {
            display: flex;
            align-items: baseline;
            gap: 10px;
            font-size: 14px;

            svg path {
                transition: fill 0.15s ease-in-out;
            }

            a {
                color: #fff;
                transition: color 0.15s ease-in-out;
            }

            &:hover {
                svg path {
                    fill: #f2be22;
                }

                a {
                    color: #f2be22;
                    text-decoration: underline;
                }
            }

            &:nth-child(5) {
                a::after {
                content: "NEW";
                background-color: #fff;
                color: #1a3e3e;
                font-family: "NunitoSans";
                font-size: 12px;
                font-weight: 700;
                text-transform: lowercase;
                padding: 2px 10px;
                border-radius: 4px;
                margin-left: 12px;
                text-decoration: underline white;
            }
            }
        }
    }
}

.footer__bottom {
    background-color: #18121E;
}

.footer__bottom-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 24px 20px;
    font-size: 14px;
    line-height: 18px;
    font-weight: 600;

    p {
        color: #fff;
    }

    a {
        color: #fff;
        text-decoration: underline;
        transition: color 0.15s ease-in-out;

        &:hover {
            color: #f2be22;
        }
    }
}


@media (max-width: 1220px) {
    .blog__card {
        max-width: none;
    }
}

@media (max-width: 1199px) {
    .popular {
        .popular__card-wrapper {
            max-width: 855px;
        }
    }
}


@media (max-width: 1118px) {
    .offer__media {
        grid-template-columns: 200px 200px;
        grid-template-rows: 200px 200px;

        img {
            width: 200px;
            height: 200px;
        }
    }

    .footer__top-wrapper {
        justify-content: left;
        gap: 50px;
        flex-wrap: wrap;
    }

    .footer__about {
        display: flex;
        flex-direction: column;
        gap: 25px;
    }

    .footer__description {
        margin-bottom: 0;
    }

    .footer__contacts {
        margin-bottom: 0;
    }
}


@media (max-width: 1040px) {
    .text {
        margin: 25px 0;
    }

    .header__button-menu {
        display: block;
    }

    .header__nav {
        position: fixed;
        inset: 0;
        z-index: 2;
        background-color: #1a3e3e;
        margin-inline: 0;
        padding: 40px 25px;
        transform: translateX(-100%);
        transition: transform 0.45s ease-in-out;
        width: 100vw;
        height: 100%;
    }

    .header__nav--active {
        transform: translateX(0%);
    }

    .header__list {
        flex-direction: column;
        gap: 30px;
    }

    .header__item:first-of-type {
        display: none;
    }

    .header__item {
        padding-left: 20px;
        position: relative;
    }

    .header__item-link {
        transition: none;

        &:hover{
            text-decoration: underline;

            &::before {
                background-image: url("images/welcome/arrow-menu--hover.svg");
            }
        }
    }

    .header__item-link::before {
        content: "";
        position: absolute;
        left: 0;
        top: 7px;
        width: 6px;
        height: 10px;
        background-image: url("images/welcome/arrow-menu.svg");
    }

    .header__wrapper {
        .button {
            display: none;
        }
    }
    
    .offer__wrapper {
        justify-content: space-evenly;
    }
    
    .offer__media {
        grid-template-columns: auto;
        grid-template-rows: 150px 150px 150px 150px;

        img {
            width: 150px;
            height: 150px;
        }
    }
    
    .about__wrapper {
        flex-direction: column-reverse;
        gap: 25px;

        .about__media {
            margin: auto;
        }

        .about__content {
            a {
                margin: 0 auto;
                display: flex;
                width: fit-content;
            }
        }
    }

    .gallery__photos {
        img:nth-child(5) {
            display: none;
        }
    }

    .newslettar__wrapper {
        flex-direction: column;
        align-items: center;
        gap: $start__gap / 2;
    }
    .newslettar__headlines {
        text-align: center;
    }
}
@media (max-width: 899px) {
    .gallery__photos {
        img:nth-child(1) {
            display: none;
        }
    }

    .popular {
        .popular__card-wrapper {
            max-width: 760px;
        }
    }
}


@media (max-width: 799px) {
    .popular {
        .popular__card-wrapper {
            max-width: 665px;
        }
    }

    .offer__media {
        display: none;
        grid-template-columns: auto;
        grid-template-rows: auto;

        img {
            width: 150px;
            height: 150px;
        }
    }

    .footer__bottom-wrapper {
        flex-direction: column;
        align-items: center;
        gap: $start__gap / 3;
    }
}


@media (max-width: 699px) {
    .welcome {
        padding-bottom: 50px;
    }

    h1 {
        font-size: 40px;
        padding-top: 250px;
        letter-spacing: unset;
    }

    .popular {
        .popular__card-wrapper {
            max-width: 570px;
        }
    }
    .blog__cards {
        justify-content: center;

        .blog__card {
            flex-direction: column;
            width: auto;

            .blog__texts {
                max-width: 230px;
            }
        }
    }

    .newslettar__wrapper {
        padding: 50px 25px;
    }

    .newslettar__application form {
        flex-direction: column;

        button {
            width: fit-content;
        }
    }

    .newslettar__headlines {
        text-align: start;
    }
}


@media (max-width: 599px) {
    .about__media {
        margin-inline: auto;

        .about__background-photo {
            display: none;
        }
        
        .about__player {
            position: relative;

            .about__photo {
                margin: auto;
                width: 100%;
                height: auto;
            }

            .about__button {
                margin: 0;
                position: absolute;
                top: calc(50% - 25px);
                left: calc(50% - 25px);
            }
        }
    }

    .popular {
        .popular__card-wrapper {
            max-width: 475px;
        }
    }

    .blog__texts {
        padding: 0;
    }

    .form__location, .form__date, .form__members {
        display: none;
    }

    .welcome__form {
        padding: unset;
        background: unset;
        backdrop-filter: unset;
        display: inline-block;
    }

    h1 {
        font-size: 28px;
    }
}


@media (max-width: 499px) {
    .popular {
        .popular__card-wrapper {
            max-width: 380px;
        }
    }
}


@media (max-width: 420px) {
    .popular {
        .popular__card-wrapper {
            max-width: 330px;
        }
    }
}